@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ededed;
  --foreground: rgb(134, 142, 142);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #ededed;
    --foreground: rgb(134, 142, 142);
  }
}

body {
  color: var(--foreground);
  background: var(--background);
 
}
